
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center"><%= @issue_type.name %> <span id="issue_type_project_id_badge" class="badge badge-pill badge-dark" style="font-size: 0.3em;"><%= @project.nil? ? 'global' : link_to('project', '#', class: 'text-white') %></span></h1>      
    <p class="text-center"><span id="issue_type_project_id_badge" class="badge badge-pill badge-danger"><%= @total_issues %></span><%= " issue".pluralize(@total_issues) + " using this type" %></p>
  </div>
  
</div>