 <div class="container">
 <%= form_for @team do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= f.submit({ class: 'btn btn-secondary' }) %>
<% end %>
</div>