<h1 class="float-left">Teams <i class="fas fa-users"></i> </h1>
<% if can? :create, Team %> 
  <button type="button" class="btn btn-secondary float-right mr-2" data-toggle="modal"data-target="#create_team_modal">Create Team
  </button>
  <%= render partial: 'create_team_modal' %>
<% end %>
<table class="table table-hover" id="teams_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody id="teams_list">
    <%= render partial: "teams", locals: { teams: @teams } %>
  </tbody>
</table>


<!-- 
<div class="container index_top_margin">
  <div class="row">
    
  </div>
</div> -->