<div class="clearfix">
  <h1 class="float-left">Teams</h1>
  <% if can? :create, Team %> 
    <button type="button" class="btn btn-secondary float-right mr-2" data-toggle="modal"data-target="#create_team_modal">Create Team
    </button>
    <%= render partial: 'create_team_modal' %>
  <% end %>
</div>
<% if @teams.count == 0 %>
  <hr>
  <p class="text-muted pl-2"><em>No teams to show</em></p>

<% else %>
  <table class="table table-hover" id="teams_table">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>

      <tbody id="teams_list">
        <%= render partial: "teams", locals: { teams: @teams } %>
      </tbody>
  </table>
<% end %>