<div class="container">

<h2>Team Members List</h2>
<table class="table">
  <thead class="thead-dark">
  </thead>
  <tbody>
    <th scope="row">Member Name :</th>
    <tr>
      
      <td><%= @team.id %></td>
    </tr>
    
  </tbody>
</table>
<!--  -->
</div>