<div class="modal fade" id="add_member_modal" tabindex="-1" role="dialog" aria-labelledby="add_member_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add_member_label">Add New Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="radio" id="member_type" value="User" checked="checked" />
            <label for="member_type">User</label>
            <input type="radio" id="member_type" value="Team" />
            <label for="member_type">Team</label>
          </div>
          <div class="form-group">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by Name" aria-label="Search">
            <button class="btn btn-outline-success my-2 float-right" id="search_members" type="submit">Search</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
  </div>
</div>