<div class="comment-container theme--light">
  <div class="comments">

    <div class="card leavecommentcard v-card v-sheet theme--light elevation-2">
      <span class="headline">Leave a comment</span>
      
      <div class="sign-in-wrapper">
        <p id="createform" class="caption disclaimer">
          <%= render partial: 'comments/form', locals: { commentable_object: commentable_object, comment: @comment } %>
        </p>
        <p class="error-message"></p>
      </div>
    </div>
    
    <div id="single-comment">
      <%= render partial: 'comments/all_comments', locals: { comments: comments } %>
    </div>
  </div>
</div>
