<span class="headline ml-4">Leave a comment</span>
<div class="sign-in-wrapper ml-4">
  <p id="createform" class="caption disclaimer">
    <%= render partial: 'comments/form', locals: { commentable_object: commentable_object, comment: @comment } %>
  </p>
  <p class="error-message"></p>
</div>

<div id="single-comment">
  <%= render partial: 'comments/all_comments', locals: { comments: comments } %>
</div>
