<!-- DEVISE ONLY PUTS DATA INTO FLASH DICT. USING KEYS 'notice' OR 'alert' -->
<% flash.each do |key, value| %>
  <% if key == 'alert' %>
    <div class="alert alert-danger">
      <a href="#_" class="close" data-dismiss="alert">&times;</a>
      <%= value %>
    </div>
  <% end %>

  <% if key == 'notice' %>
    <div class="alert alert-success">
      <a href="#_" class="close" data-dismiss="alert">&times;</a>
      <%= value %>
    </div>
  <% end %>
<% end %>

