<div class="field form-group">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true, class: "form-control", placeholder: "E.g. John" %>
</div>

<div class="field form-group">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, autofocus: true, class: "form-control", placeholder: "E.g. Doe" %>
</div>
