<table class="table table-sm">
  <% audit.audited_changes.each do |key, value| %>
    <tr>
      <td>
        <% if assignee_id_key?(key) %>
          <%= display_user_name(value[0]) %>
        <% else %>
          <%= value[0] %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>