<table class="table table-sm">
  <% audit.audited_changes.each do |key, value| %>
    <tr>
      <td>
        <%= get_associated_information(key, value[1]) %>
      </td>
    </tr>
  <% end %>
</table>