<h1>Edit Issue</h1>
<%= render 'form' %>
<br>
<% if can?(:destroy, @issue) %>
<%= link_to "Delete", issue_path(@issue), method: :delete,data:{confirm: 'Are you sure?'}, :class => 'btn btn-primary' %>
<% end %>
