<h1>Edit Issue</h1>
<%= render partial: "form", locals: { issue: @issue, assignees: @assignees, issue_states: @issue_states, issue_types: @issue_types } %>
<%= link_to :Back, project_issue_path(@issue.project, @issue), class: 'btn btn-secondary float-right mr-2 mb-5' %>
