<div class="wrapper mb-4">
  <h1 class="float-left"><%= @issue.title %> History Report</h1>
  <div class="float-right" id="datatable_buttons"></div>
</div>

<div class="my-4">
  <table id="report_datatable"  class="table">
    <thead>
      <tr>
        <th scope="col">Sr#</th>
        <th scope="col">Time</th>
        <th scope="col">Attribute</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'issue_audit_row', collection: @audits, as: :audit %>
    </tbody>
  </table>
</div>