<div class="row">
  <div class="offset-sm-2 col-sm-8">
    <div class="card">
      <h1 class="card-header">Identify Yourself!</h1>
      <div class="card-body">
        <%= form_tag user_companies_find_path, method: :post, remote: true do %>
          <div class="field form-group">
            <label>Email: </label>
            <%= email_field_tag :email, nil, class: 'form-control form-control-sm', placeholder: 'john.doe@gmail.com' %>
          </div>

          <hr>

          <div class="actions text-right">
            <button class="btn btn-info btn-block btn-sm" type="submit">Continue!</button>
          </div>
        <% end %>

        <div class="text-center">
          <hr>
          <em class="text-muted">Don't Have an Account? &nbsp;</em>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm btn-outline-primary"  %>
        </div>
      </div>
    </div>
  </div>
</div>
