<div class="row">
  <div class="offset-sm-2 col-sm-8">

    <div class="card">
      <h1 class="card-header">Identify Yourself!</h1>
      <div class="card-body">
        <%= form_tag user_companies_find_path, method: :post, remote: true do %>

        <div class="field form-group">
          <label>Email: </label>
          <%= email_field_tag :email, nil, class: 'form-control form-control-sm', placeholder: 'john.doe@gmail.com' %>
        </div>

        <hr>

        <div class="actions text-right">
          <button class="btn btn-info btn-block btn-sm" type="submit">Continue!</button>
        </div>

        <% end %>
      </div>
    </div>

  </div>
</div>
