<div>
  <h3>Hello <strong><%= @email_address %>!</strong></h3>
  <p>Hey! There is an update in <%= @issue.title %> of <%= @issue.project.title %>. Please have a look at it. </p>
  <%= link_to 'Go to Issue', issue_url(@issue) , style: 'background-color: #007bff;
    border: none; color: white; padding: 15px; text-align: center; text-decoration: none;
    display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;
    border-radius: 8px;' %>
</div>