<% unless flash[:alert].nil? %>
  <% if flash[:alert].is_a? Enumerable %>
    <% flash[:alert].each do |msg| %>
      <div class="alert alert-warning">
        <a class="close" data-dismiss="alert" href="#_">&times;</a>
        <%= msg %>
      </div>
    <% end %>
    <% flash[:alert].clear %>
  <% else %>
    <div class="alert alert-warning">
      <a class="close" data-dismiss="alert" href="#_">&times;</a>
      <%= flash[:alert] %>
    </div>
  <% end %>
<% end %>
