<% unless flash[:error].nil? %>
  <% if flash[:error].is_a? Enumerable %>
    <% flash[:error].each do |msg| %>
      <div class="alert alert-danger">
        <a class="close" data-dismiss="alert" href="#_">&times;</a>
        <%= msg %>
      </div>
    <% end %>
    <% flash[:error].clear %>
  <% else %>
    <div class="alert alert-danger">
      <a class="close" data-dismiss="alert" href="#_">&times;</a>
      <%= flash[:error] %>
    </div>
  <% end %>
<% end %>