<tr>
  <td><%= link_to issue.title, project_issue_path(issue.project.sequence_num, issue.sequence_num) %></td>
  <td><%= issue.issue_state.name %></td>
  <td><span class="badge badge-pill badge-<%= badge_class_from_priority(issue.priority) %>"><%= issue_priority(issue) %></span></td>
</tr>