<% unless flash[:success].nil? %>
  <% if flash[:success].is_a? Enumerable %>
    <% flash[:success].each do |msg| %>
      <div class="alert alert-success">
        <a class="close" data-dismiss="alert" href="#_">&times;</a>
        <%= msg %>
      </div>
    <% end %>
    <% flash[:success].clear %>
  <% else %>
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert" href="#_">&times;</a>
      <%= flash[:success] %>
    </div>
  <% end %>
<% end %>
