<div class="container">
  <table class="table table-hover" id="documents_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Download</th>
    </tr>
  </thead>
  <tbody>

  <% documents.each do |document| %>
    <tr>
      <td><%= document.document_file_name %></td>
      <td><%= document.document_content_type %></td>
      <td>
        <div class="btn-group dropright float-right mr-2">
          <i class="fas fa-ellipsis-v" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu">
            <%= link_to 'Open', document.document.url(:original, false), target: :_blank %>
            <%= link_to(issues_path, method: 'delete', remote: true, data: { confirm: 'Are you sure to delete this issue type?'}, class: 'dropdown-item text-danger mr-2 mb-1 mb-md-0 fixed-width') do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  <% end %>

  </tbody>
</div>
