
<% if can?(:index, project) %>
<tr>
  <td><%= link_to project.title, project_path(project) %></td>
  <td><%= time_ago_in_words(project.updated_at) %> ago</td>
  <td><%= project.created_at.strftime("%b %d %Y %I:%M %p") %></td>
</tr>
<% end %>