
<% if can?(:index, project) %>
<div class="card">
  <div class="card-body">
    <h5><%= link_to project.title, project, style: "color: #002f6c;"%>
      <span class="badge badge-white badge-pill-sm border float-right ml-2"  style="border-color: #ebccd1 !important; background-color: #f2dede !important; text-color: #a94442; color: #a94442;"><%= link_to project.issues.size, project,class: "font-weight-bold", style: "color: #a94442;"%></span>
    </h5>
    <p class="card-text text-truncate"><%= project.description%></p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated <%= time_ago_in_words(project.updated_at) %> ago</small>
  </div>
</div>
<% end %>