<h1 class="float-left">Projects</h1>
<% if can? :manage, :all %>
  <%= link_to 'New Project', new_project_path, class: 'btn btn-secondary float-right' %>
<% end %>
<br><br><br>
<div class="card-columns">
  <%= render @projects %>
</div>