<h1 class="float-left">Projects</h1>
<% if can? :create, :Project %>
  <%= link_to 'New Project', new_project_path, class: 'btn btn-secondary float-right' %>
<% end %>
<br><br><br>
<div class="spinner-border text-secondary"></div>
<table class="table table-hover" id="projects_table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Issues</th>
      <th scope="col">Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <%= render @projects %>
  </tbody>
</table>