<div class="wrapper mb-5">
  <h1 class="float-left">Issue States</h1>
  <%= link_to(new_issue_state_path, remote: true, class: 'btn btn-secondary float-right') do %>
  <i class="fas fa-plus mr-2"></i> New Issue State
  <% end %>
</div>

<!-- Issue State Modals -->
<%= render 'new_issue_state_modal' %>
<%= render 'shared/issues_modal' %>

<div class="my-4">
  <table id="issue_states_datatable" class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Issues</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'issue_state_table_row', collection: @issue_states, as: :issue_state %>
    </tbody>
  </table>
</div>