<div id="watch_button">
  <% if issue.present? %>
    <% if issue.issue_watchers.find_by(watcher_id: current_user).blank? %>
      <% if can?(:create, IssueWatcher) %>
        <%= link_to 'Watch', issue_watchers_path(issue_id: @issue.id, watcher_id: current_user, watcher_type: 'User'), method: :post, class: 'btn btn-secondary', remote: true %>
        <% end %>
    <% else %>
      <% if can?(:destroy, IssueWatcher) %>
        <%= link_to 'Unwatch', issue_watcher_path(get_issue_watcher(@issue, current_user, IssueWatcher::WATCHER_TYPES[:user])), method: :delete, class: 'btn btn-secondary', remote: true %>
      <% end %>
    <% end %>
  <% end %>
</div>
