<tr>
  <% if audit.keys.include?('title') %>
    <td class="text-danger"><%= audit['title'].kind_of?(Array) ? audit['title'][-1] : audit['title'] %></td>
  <% else %>
    <td>---</td>
  <% end %>
  
  <% if audit.keys.include?('description') %>
    <td class="text-danger"><%= audit['description'].kind_of?(Array) ? audit['description'][-1] : audit['description'] %></td>
  <% else %>
    <td>---</td>
  <% end %>
</tr>

