<div class="wrapper mb-4">
  <h1 class="float-left">Issues Report</h1>
  <div class="float-right" id="datatable_buttons"></div>
</div>

<div class="my-4">
  <table id="report_datatable"  class="table table-sm">
    <thead>
      <tr>
      <th scope="col">Title</th>
      <th scope="col">Project</th>
      <th scope="col">Assignee</th>
      <th scope="col">Creator</th>
      <th scope="col">State</th>
      <th scope="col">Type</th>
      <th scope="col">Priority</th>
      <th scope="col">Created</th>
      <th scope="col">Due Date</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'issues_report', collection: @issues, as: :issue %>
    </tbody>
  </table>
</div>